/* Підключення шрифтів */
/* Google Fonts  plugin*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,900&display=swap");


/* Скидання стилів */
@import url("reset.css");

body {
	font-family: 'Roboto',  sans-serif;
   color:  #505F98;
   background-color: #fff;
   background-attachment: fixed;
}

.open-menu body {
   overflow: hidden;
 }

.wrapper {
	min-height: 100%;
	overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}

.header {
   width: 100%;

}
.header__container{
   color: rgb(17, 7, 54);
   padding-block: 10px;
   text-align: center;
}

.header__title {
   font-size: 28px;
   font-weight: 900;
  
}
.header__link {
   padding-block: 15px;
   font-size: 18px;
}

.header__link:hover{
   color: rgb(15, 90, 90);
   text-decoration: underline;
}

[class*="__container"] {
   max-width: 1140px;
   margin: 0 auto;
   padding-inline: 15px;
}

@media (max-width: 768px) {
   .header__container{
      padding-block: 6px;     
   }
   .header__title {
      font-size: 24px;
   }
 }
 @media (max-width: 480px) {
   .header__container{
      padding-block: 3px;
   }
   .header__title {
      font-size: 20px;
   }
 }

.grid {
	padding-block: 30px;
}
.grid__container {
	max-width: 1342px;
}

.items {
	display: grid;
	column-gap: 20px;
	row-gap: 14px;
   grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));

}
 .item {
   position: relative;
} 

.item__content {
   display: flex;
   align-items: flex-end;
	background-color: #9ac57d;
	padding: 15px;
   aspect-ratio: 305 / 184;
}
.item__content::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #2b2c2a;
   opacity: 0.3;
   z-index: 2;
}


.item__content img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.item__title {
   position: relative;
   color: #FFF;
   font-weight: 500;
   font-size: 26px;
   z-index: 5;
}

@media (min-width: 930px) {
   .items {
      column-gap: 32px;
      row-gap: 24px;
      grid-template-columns: repeat(4, 1fr);
   }

.item:nth-child(17n + 1),
.item:nth-child(17n + 4),
.item:nth-child(17n + 8),
.item:nth-child(17n + 10),
.item:nth-child(17n + 16){
   grid-row: span 2; 
}

.item:nth-child(17n + 2),
.item:nth-child(17n + 5),
.item:nth-child(17n + 6),
.item:nth-child(17n + 7) {
	grid-row: span 4;
}

.item:nth-child(17n + 3),
.item:nth-child(17n + 9),
.item:nth-child(17n + 11),
.item:nth-child(17n + 17) {
	grid-row: span 1;
}
.item:nth-child(17n + 12),
.item:nth-child(17n + 14),
.item:nth-child(17n + 15) {
	grid-row: span 3;
}

.item:nth-child(17n + 13) {
	grid-row: span 5;
}  

.item:nth-child(17n + 1) .item__content,
.item:nth-child(17n + 4) .item__content,
.item:nth-child(17n + 8) .item__content,
.item:nth-child(17n + 10) .item__content
.item:nth-child(17n + 16) .item__content{
	aspect-ratio: 304 / 183;  
}

.item:nth-child(17n + 2) .item__content,
.item:nth-child(17n + 6) .item__content,
.item:nth-child(17n + 7) .item__content,
.item:nth-child(17n + 12) .item__content,
.item:nth-child(17n + 15) .item__content{
	aspect-ratio: 304 / 295;
}

.item:nth-child(17n + 3) .item__content,
.item:nth-child(17n + 5) .item__content,
.item:nth-child(17n + 9) .item__content,
.item:nth-child(17n + 11) .item__content,
.item:nth-child(17n + 14) .item__content,
.item:nth-child(17n + 17) .item__content{
	aspect-ratio: 304 / 150;
}

.item:nth-child(17n + 13) .item__content{
	aspect-ratio: 304 / 504;
} 
}



/* Landing page */
.header-landing {
   position: fixed;
   background-color: #ffffffab;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
}

.header-landing__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   padding-block: 12px;
   min-height: 24px;
}
.menu__list {
   display: flex;
   justify-content: space-between;
   column-gap: 60px;
   row-gap: 20px;
   flex-wrap: wrap;

}
.header-landing__menu {
   flex-basis: 270px;
}
.menu__item{
   line-height: 1.71; /* 171.429% */
}
.header-landing__title {
   color:  #37447E;
   position: relative;
	z-index: 5;
   font-size: 26px;
   font-weight: 900;
   line-height: 1.46; /* 146.154% */

}
.actions-header__button {
   min-width: 160px;
}
.button-buy {
   color:  #FFF;
   text-align: center;
   font-size: 12px;
   font-weight: 500;
   line-height: 1.5; /* 150% */
   padding: 4px;
   border-radius: 2px;
   background:  #111B47;
   
}
.actions-header {
	position: relative;
	z-index: 5;
	display: flex;
	column-gap: 40px;
	align-items: center;
	row-gap: 3px;
	justify-content: flex-end;
}
.icon-menu {
	display: none;
   cursor: pointer;
}
.header-landing__title {

}

@media (max-width: 725px) {
   .menu__list {
      gap: 30px;
   }
}


@media (max-width: 615px) {
   .header-landing__container {
      gap: 5px;
   }
	.icon-menu {
		flex-shrink: 0;
		flex-basis: 26px;
		display: flex;
		flex-direction: column;
      justify-content: center;
      background-color: #111B47;
      padding: 2px 2px 2px 4px;
      border-radius: 2px;
      aspect-ratio: 1;
	}
	.icon-menu span {
      margin-block: 8px;	
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		transition: all 0.3s;
		content: "";
		height: 2px;
		width: 100%;
		background-color:  #E7ECFF;
	}
	.menu__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		transition: all 0.3s;
	   overflow: auto;
		padding: 100px 15px 30px;
		background-color: #E7ECFF;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		block-size: 80px;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #E7ECFF;
		transition: all 0.3s;
	}

	.menu__list {
		flex-direction: column;
		align-items: flex-end;
		row-gap: 20px;
	}
	.menu__link {
		font-size: 26px;
	}

	.open-menu .menu__body,
	.open-menu .menu__body::before {
		inset-inline-start: 0;
	}

	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}
   .header-landing__menu {
      flex-basis: 5px;
   }
}
@media (max-width: 474px) {
   .header-landing__title {
      font-size: 20px;
      font-weight: 900;
   
   }
   .actions-header__button {
      min-width: 130px;
   }
   .actions-header {
      column-gap: 15px;
   }
   .header-landing__link {

   }
}


.hero-section {
   padding-block: 245px 85px;
}
.hero-section__container,
.feature-section__container {
   display: flex;
   gap: 30px;
   justify-content: space-between;

}
.hero-section__content {
   flex: 1 0 540px;
   padding-top: 58px;
}
.content {
   display: flex;
   flex-direction: column;

}
.content__title {
   color:  #091133;
   font-weight: 500;
   font-size: 36px;
   line-height: 1.33; /* 133.333% */
   margin-bottom: 16px;
}
.content__title--large {
   font-size: 50px;
   line-height: 1.32; /* 132% */
   letter-spacing: 1px;
   margin-bottom: 20px;
}
.content__text {
   font-size: 16px;
   line-height: 1.66; /* 166.667% */
  
}
.content__text--indent {
   margin-bottom: 69px;
}

.content__link {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 30px;

}
.button {
   color:  #FFF;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.62; /* 162.5% */
   padding: 4px;
   border-radius: 2px;
   background: #111B47;
   flex-basis: 189px;
}
.button--white {
   color:  #091133;
   font-size: 16px;
   border-radius: 2px;
   padding: 3px;
   background-color: #FFF;
   border: 2px solid #091133;
   }

.hero-section__pic {
   position: relative;
   margin-inline-end: -494px;
   overflow: visible;
} 
.picture {
   aspect-ratio: 975 / 780 ;
   flex-basis: 975px;
}

.picture img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.hero-section__pic::before{
   content: '';
   position: absolute;
   z-index: -1;
   top: -40%;
   left: -35%;
   width: 152.82%;
   height: 148.84%;
   aspect-ratio: 1490 / 1161;
   background: url('../img/landing/hero-back.svg')  0 0 / contain no-repeat;
}

@media (max-width:990px) {
   .hero-section {
      padding-block: 170px 69px;
   }
}
@media (max-width:860px) {
   .hero-section {
      padding-block: 50px 50px;
   }
   .hero-section__content {
      flex-shrink: 1;
   }
   .hero-section__container {
      flex-wrap: wrap;
   }
   .content__text--indent {
      margin-bottom: 25px;
   }
}
@media (max-width:615px) {
   .hero-section {
      padding-block: 20px 40px;
   }
   .hero-section__pic {
    margin: 0 auto;
   }
   .content__title {
      font-size: 36px;
      margin-bottom: 15px;
   }
   .content__text {
      font-size: 14px;
   }
   .content__link {
      justify-content: center;
   }
  
}

.feature-section{
   padding-block: 110px;
}


.content__cards {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
}

.card {
   display: flex;
   flex-direction: column;
   flex:1 0 255px;
}

.card__img {
   aspect-ratio: 1;
   max-width: 36px;
   object-fit: contain;
   margin-bottom: 14px;
}

.card__title {
   color:  #091133;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.62; /* 162.5% */
   margin-bottom: 6px;
}
.card__text { 
   color:  #5D6970;
   font-size: 12px;
   line-height: 1.5; /* 150% */
}

.feature-section__pic {
   align-self: center;

}

.feature-section__pic img{
   object-fit: contain;
   width: 100%;
   height: 100%;
}

.feature-section__content {
   flex: 0 0 445px;
   padding-top: 40px;
}
.content--wide {
   flex: 0 0 540px;
   padding-top: 41px;
}

.picture-feature--big {
   flex: 0 1 540px;
   aspect-ratio: 540 / 524;  
}
.picture-feature--small {
   flex: 0 1 480px;
   aspect-ratio: 480 / 315;
}
.picture-feature--medium {
   flex: 0 1 540px;
   aspect-ratio: 540 / 387;
}

.content__text--margin {
   margin-bottom: 80px;
}
.picture-feature--xsmall {
   flex: 0 1 445px;
   aspect-ratio: 445 / 312;
}

.content--top {
   padding-top: 0;
}
.content__text--margin-bottom{
   margin-bottom: 40px;
}
.content--top-padding {
   padding-top: 80px;
}

@media (max-width:910px) {
   .feature-section {
      padding-block: 40px;
   }

   .feature-section__content {
       flex-shrink: 1;
       flex-grow: 1;
   }
   .content--wide {
      flex-shrink: 1;
      flex-grow: 1;
   }
   
}
@media (max-width:800px) {
   .feature-section {
      padding-block: 20px;
   }
   .feature-section__container {
      flex-wrap: wrap;
      justify-content: center;
   }
  
   .content__text--margin {
      margin-bottom: 30px;
   }
  .feature-section__pic {
   order: 2;
   
}
}

.price-block {
   padding-block: 237px 172px;
   width: 100%;
   height: 100%;
   background: url('../img/landing/rectangle.webp') 0 68px / cover no-repeat;

}
.price-block__container {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 15px;
}
.price-block__content {
   max-width: 600px;
   text-align: center;
}
.content__price {
   color: #222F65;
   font-size: 50px;
   font-weight: 500;
   line-height: 1.32; /* 132% */
   letter-spacing: 1px;
}
.content__text--gray {
   color: #5D6970;
   font-size: 14px;
   line-height: 1.71; /* 171.429% */
   margin-bottom: 9px;
   
}
.content__text--space-medium {
   margin-bottom: 60px;
}
.content__text--padded {
   margin-bottom: 35px;
}
.content__link--center {
   justify-content: center;
}

@media (max-width:990px) {
   .price-block {
      padding-block: 100px 50px;
   }
}
@media (max-width:730px) {
   .content__text--space-medium {
      margin-bottom: 20px;
   }
   .content__text--padded {
      margin-bottom: 15px;
   }
}


.footer {
   background: #E7ECFF;
}
.footer__container {

}

.footer__info {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   gap: 15px;
   border-bottom: 1px solid #CDD1D4;
   padding-block: 61px 40px;
}
.info__company {
   color:  #939EA4;
   font-weight: 500;
   line-height: 1.71; /* 171.429% */
   align-self: center;
}
.info__logo {
   color: #37447E;
   align-self: center;
   justify-self: center;
   font-size: 26px;
   font-weight: 900;
   line-height: 1.46; /* 146.154% */
}

.info__link {
   justify-self: end;
   align-self: center;
}
.button--small{
   color: #FFF;
   font-size: 12px;
   line-height: 1.5; /* 150% */
   font-weight: 500;
   min-width: 109px;
  
}
.footer__links {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   column-gap: 30px;
   row-gap: 20px;
   padding-block: 20px 32px;
}

.menu__link--light {
   color:  #929ECC;
   font-size: 14px;
} 
.footer__menu {
   flex-basis: 270px;
}
.footer__social {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.footer__social img {
   max-width: 16px;
   object-fit: contain;
   aspect-ratio: 1;
}

.footer__text {
   text-align: center;
   color: rgb(17, 7, 54); 
   font-size: 18px;
   }


@media (max-width:768px) {
      .footer__text {
         font-size: 14px; 
      }

   }
   @media (max-width:615px) {
      .menu__list--row  {
         flex-direction: row;
      }
   
}
   @media (max-width:510px) {
      .footer__info {
         justify-content: center;
         padding-block: 30px 30px;
      }
      .footer__links {
         justify-content: center;
      }
      .footer__social {
         gap: 15px;
      }
      .footer__info {
        grid-template-columns: repeat(2, 1fr); 
      } 
      .info__link {
         grid-column: span 2;
         justify-self: center;
      }
      
   }

   @media (any-hover: hover) {
      .button:hover {
         transform: scale(1.1);
         transition: all 0.4s;
      }
      .button-buy:hover {
         transform: scale(1.1);
         transition: all 0.4s;
      }
      .menu-foot__item:hover {
         text-decoration: underline;
      }
      .menu__link:hover {
         text-decoration: underline;
      }
      .header-landing__title:hover {
         color: #111B47;
         transform: scale(1.1);
         transition: all 0.4s;
      }
      .info__logo:hover {
         color: #111B47;
         transform: scale(1.1);
         transition: all 0.4s;
      }

   }