@use "sass:math"; 

/* Підключення шрифтів */
/* Google Fonts  plugin*/
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");

/* Скидання стилів */
@import "_reset.scss";

/* Підключення міксинів*/
@import "_mixins.scss";

$secondary-color: #999;
$main-color: #fff;  
$bg-color: #141414;
$hover-color: #E50000;
$border-color: #1F1F1F;
$bg2-color: #1A1A1A;
$bg3-color: #0f0f0f;
$bg4-color: #262626;
$bg5-color: #af0202cc;
$bg6-color: #333;
$bg7-color: #BFBFBF;
$base-transition: 0.3s ease;
$font-family: 'Manrope',  sans-serif;

body {
	font-family: $font-family;
   background-color: $bg-color;
   color: $main-color;
   
   .wrapper {
         min-height: 100%;
         overflow: clip;
         display: flex;
         flex-direction: column;
           
      main {
         flex-grow: 1; 
      }
   }
}

.open-menu  {
   body {
      overflow: hidden;
   }
}

[class*="__container"] {
   max-width: toRem(1595);
   margin: 0 auto;
   padding-inline: toRem(15);
}

.header {
   // .header__container
   &__container {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr auto;
      min-height: toRem(120);
      padding-block: toRem(10);
      gap: toRem(16);

      @media (max-width: toEm(920)) {
         min-height: toRem(80);
      } 
   }
}
.logo {
   position: relative;
   z-index: 5;
   display: flex;
   align-items: center;
   gap: toRem(2);

   & img {
     object-fit: contain;    
     width: 100%;
     height: 100%;
   }

   &__text {
      @media (max-width: toEm(440)){
         display: none;
      }
   } 
}

.menu {
   justify-self: center;

 // .menu__body

   &__body {
      @media (max-width: toEm(920)){
      position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		transition: inset-inline-start 0.3s;
		overflow: auto;
		padding: toRem(100) toRem(15) toRem(30);
		background-color: $bg3-color;

         &::before {
         content: "";
         position: fixed;
         block-size: toRem(80);
         inline-size: 100%;
         inset-inline-start: 100%;
         inset-block-start: 0;
         z-index: 3;
         background-color: $bg3-color;
         transition: inset-inline-start 0.3s;
         }
      }
   }

   // .menu__list

   &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: toRem(6);
      row-gap: toRem(4);
      align-items: center;
      justify-content: center;
      padding: toRem(10);
      border-radius: toRem(12);
      border: toRem(4) solid $border-color;
      background-color: $bg3-color;

      @media (max-width: toEm(920)) {
         flex-direction: column;
         border: none;
         align-items: flex-end;
         background-color: transparent;
         row-gap: toRem(25);
      }
   }

   // .menu__link

   &__link {
      color: $bg7-color;
      line-height: 1.5; /* 27px */
      padding: toRem(14) toRem(24);
      transition: all $base-transition;
      border-radius: toRem(8);
      @include adaptiveValue("font-size", 18, 12);

      @media (max-width: toEm(1016)) { 
         padding: toRem(10) toRem(18);
      }
   
      @media (max-width: toEm(920)) {
         font-size: toRem(24);
         padding: 0;
      }
   
      &:hover {
         color: $main-color;
         background-color: $bg2-color;
      }
   
      &.active {
         color: $main-color;
         background-color: $bg2-color;

         @media (max-width: toEm(920)){
            text-decoration: underline;  
         background-color: transparent;
         }
      }
   }   
}

.actions-header {
   position: relative;
   z-index: 5;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   column-gap: toRem(40);
   row-gap: toRem(4);

   @media (max-width: toEm(440)){ 
      column-gap: toRem(12);
   }
 
   // .actions-header__item

   &__item {
      flex-shrink: 0;
      aspect-ratio: 1;
      transition: all $base-transition;

      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }

      &:hover {
         filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(4815%) hue-rotate(357deg) brightness(88%) contrast(124%); 
      }
   }
}

.icon-menu {
   display: none;

   @media (max-width: toEm(920)) {
      flex-shrink: 0;
		flex-basis: toRem(36);
		display: flex;
		flex-direction: column;
      background-color: $bg3-color;

      span {
         margin-block: toRem(6);
      }

      span,
      &::before,
      &::after {
      content: "";
      transition: all $base-transition;
      height: toRem(2);
      width: 100%;
      background-color: $main-color;
      }
   }
}

@media (max-width: toEm(920)) {
	.open-menu .menu__body,
	.open-menu .menu__body::before {
		inset-inline-start: 0;
	}

	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}

	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}

	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}
}

.hero {
   @include adaptiveValue("padding-top", 50, 20);
   @include adaptiveValue("padding-bottom", 90, 20);
   // padding-block:  clamp(1.25rem, 0.779rem + 2.35vw, 3.125rem)
   // clamp(1.25rem, 0.152rem + 5.49vw, 5.625rem); /*(20>50 320>1595) (20>90 320>1595)*/
   
   // .hero__container

   &__container {
      text-align: center;
      max-width: toRem(1595);
  
   }

   &__body {
      position: relative;
      width: 100%;
      min-height: 100svh;
      padding-block: toRem(16);
      display: flex;
      flex-direction: column;
      justify-content: end;
      @include adaptiveValue ("padding-inline", 40, 14);
      // padding-inline: clamp(0.938rem, 0.545rem + 1.96vw, 2.5rem);
   }

   // .hero__poster

   &__poster {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      aspect-ratio: 1595 / 835;
      overflow: hidden;
      background-color: $bg7-color;
      border-radius: toRem(14);

      & img {
         border-radius: toRem(14);
         border: toRem(1) solid $bg4-color;
         max-width:  100%;
         height: 100%;
         object-fit: cover;
      }

      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(0deg, $bg-color 0%, rgba(20, 20, 20, 0.00) 100%);
      }
   }

   // .hero__content

   &__content {
      @include adaptiveValue ("padding-bottom", 40, 10);
      // padding-bottom: clamp(0.625rem, 0.154rem + 2.35vw, 2.5rem);

      @media (min-width: toEm(660)){
         @include adaptiveValue ("padding-inline", 120, 2);
         // padding-inline: clamp(0.125rem, -0.319rem + 7.84vw, 7.5rem);
      }
   }
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: toRem(4);

   // .content__title

   &__title {
      font-weight: 700;
      line-height: 1.5; /* 57px */
      @include adaptiveValue("font-size", 38, 26);
   }

   // .content__text

   &__text {
      color: $secondary-color;
      font-weight: 500;
      line-height: 1.5; /* 27px */
      margin-bottom: toRem(24);
      @include adaptiveValue("font-size", 18, 12);
   }
}


.nav {
   display: flex;
   justify-content: space-between;
   gap: toRem(20);

   @media (max-width: toEm(560)){
      flex-direction: column;
   }

   // .nav__sicial

   &__sicial {
      display: flex;
      justify-content: space-between;
      gap: toRem(10);
   }

   // .nav__item

   &__item {
      border-radius: toRem(8);
      border: toRem(1) solid $bg4-color;
      background:  $bg3-color;
      padding: toRem(14);
      aspect-ratio: 1;

      & img{
         width: toRem(28);
         height: toRem(28);
         object-fit: contain;
         transition: all $base-transition;
      }

      @media (any-hover: hover) {
       &:hover img{
         filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(4815%) hue-rotate(357deg) brightness(88%) contrast(124%);
         }  
      }
   }
}

.button {
   display: flex;
   gap: toRem(4);
   padding: toRem(14) toRem(24);
   align-items: center;
   justify-content: center;
   border-radius: toRem(8);
   background-color: $hover-color;
   transition: background-color $base-transition;

   @media (any-hover: hover){
      &:hover {
      background-color: $bg5-color;
      }   
   }
   
   // .button__text

   &__text {
      color: $main-color;
      font-family: $font-family;
      font-weight: 600;
      line-height: 1.53; /* 27.54px */
      @include adaptiveValue("font-size", 18, 12);
   }
}

.slider {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: toRem(15);
   width: 100%;

   // .slider__arrow

   &__arrow {
      border-radius: toRem(8);
      border: toRem(1) solid $border-color;
      background: $bg3-color;
      padding: toRem(12);
      aspect-ratio: 1;

      & img {
         object-fit: contain;
         max-width: toRem(24);
         max-height: toRem(24);
         transition: all $base-transition;

      }

      @media (any-hover: hover){
         &:hover img{
         filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(4815%) hue-rotate(357deg) brightness(88%) contrast(124%);
         }     
      } 
   }
}

.rewind {
   display: flex;
   gap: toRem(3);

   // .rewind__item

   &__item {
      border-radius: toRem(100);
      background-color: $bg6-color;
      width: toRem(16);
      height: toRem(4);
      transition: background-color $base-transition;
      cursor: pointer;

      @media (any-hover: hover){
         &:hover {
            background-color: $hover-color;
            width: toRem(23);
         }    
      }  
   }

   // .rewind__item--red

   &__item {
      &--red {
         background:  $hover-color;
         width: toRem(23);
      }
   }
}

.movies {

   // .movies__container

   &__container {
      @include adaptiveValue ("padding-block", 90, 30);
      // padding-block: clamp(1.875rem, 0.934rem + 4.71vw, 5.625rem);
   }

   // .movies__content

   &__content {
      border-radius: toRem(12);
      border: toRem(1) solid $bg4-color;
      position: relative;
      display: flex;
      flex-direction: column;
      @include adaptiveValue ("gap", 100, 30);
      // gap: clamp(1.875rem, 0.777rem + 5.49vw, 6.25rem);
      @include adaptiveValue ("padding", 50, 15);
      // padding: clamp(0.938rem, 0.388rem + 2.75vw, 3.125rem);

      @media (max-width: toEm(600)) {
         border: none;
      }
   }

   // .movies__link

   &__link {
      position: absolute;
      top: toRem(-15);
      left: toRem(50);
      border-radius: toRem(8);
      background-color: $hover-color;
      padding: toRem(10) toRem(24);
      transition: background-color $base-transition;

      @media (any-hover: hover){
         &:hover {
            background-color: $bg5-color;
         }    
      }
      
      @media (max-width: toEm(700)) {
         display: none;
      }
   }
}

.top-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: toRem(16);
   @include adaptiveValue ("margin-bottom", 50, 25);
   // margin-bottom: clamp(1.563rem, 1.17rem + 1.96vw, 3.125rem);

   // .top-title__title

   &__title {
      font-weight: 700;
      line-height: 1.5; /* 57px */
      flex-basis: percent(1141, 1495); /* 76.168% */
      @include adaptiveValue("font-size", 38, 26);
   }

   // .top-title__navigation

   &__navigation {
      border-radius: toRem(12);
      border: toRem(1) solid  $border-color;
      background: $bg3-color;
      flex-basis: percent(260, 1495);  /* 17.41%*/  
      @include adaptiveValue ("padding", 16, 12);
      // padding: clamp(0.75rem, 0.687rem + 0.31vw, 1rem);

      @media (max-width:toEm(700)) {
         display: none;
      }
   }
}

svg {
   path {
     stroke: $main-color;
     transition: stroke 0.3s ease-in-out;
   }

   @media (any-hover: hover){
      &:hover path {
         stroke: $hover-color;
      }  
   }
}
 
.collection {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   overflow-x: auto;
   scrollbar-width: thin;
   scrollbar-color: $hover-color $bg6-color;
   @include adaptiveValue ("gap", 30, 15);
   // gap: clamp(0.938rem, 0.702rem + 1.18vw, 1.875rem);

      &--gap,
      &--foure-cards {
         @include adaptiveValue("gap", 20, 15);
      }

      &--foure-cards {
         grid-template-columns: repeat(4, 1fr);
      }  
}

.movies-collection {
   flex-basis: 18.682%;
   background: $bg2-color;
   border-radius: toRem(10);
   min-inline-size: toRem(184);
   @include adaptiveValue ("padding", 24, 15);
   // padding: clamp(0.938rem, 0.796rem + 0.71vw, 1.5rem);
  
   // .movies-collection__posters

   &__posters {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: toRem(5);

      &::before {
         content: "";
         position: absolute;
         inset: 0;
         background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, $bg2-color 101.79%);
         transform-origin: bottom;
         transform: scaleY(1); 
         transition: transform 0.3s ease-in-out;
      }

      @media (any-hover: hover){
         &:hover::before {
            transform: scaleY(0);
         }     
      } 
   }

   // .movies-collection__img

   &__img {
      flex: 0 0 calc(50% - toRem(2.5));
      aspect-ratio: 105 / 123;
      border-radius: toRem(10);
      background-color: $bg7-color;
      overflow: hidden;

      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .movies-collection__genre

   &__genre {
      font-weight: 600;
      line-height: 1.5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(15);
      @include adaptiveValue("font-size", 18, 12);

      & svg {
         flex: 0 0 toRem(22);
      }
   }

   // .movies-collection__img--square

   &__img {
      &--square {
         flex: 0 0 calc(50% - toRem(5));
         aspect-ratio: 141 / 121;
         border-radius: toRem(4);
      }
   }

   // .movies-collection__top-in

   &__top-in {
      display: flex;
      flex-direction: column;
      gap: toRem(4);

      span {
         border-radius: toRem(5);
         background: $hover-color;
         padding: toRem(10);
         font-weight: 600;
         line-height: 1; /* 24px */
         @include adaptiveValue("font-size", 16, 12);
      }
   }

   // .movies-collection__posters--square

   &__posters {
      &--square{
         gap: toRem(10);
      }
   }
}

// .movie

.movie {
   display: flex;
   flex-direction: column;
   border-radius: toRem(12);
   border: toRem(1) solid $bg4-color;
   background-color: $bg2-color;
   transition: all $base-transition;
   @include adaptiveValue ("gap", 20, 10);
   // gap: clamp(0.625rem, 0.468rem + 0.78vw, 1.25rem);
   @include adaptiveValue ("padding", 20, 15);
   // padding: clamp(0.938rem, 0.859rem + 0.39vw, 1.25rem);

   @media (any-hover: hover) {
      &:hover {
         box-shadow: 0 toRem(2) toRem(4) rgba(211, 211, 211, 0.2);
         transform: scale(0.98);
      }    
   }
  
   // .movie__img

   &__img {
      border-radius: toRem(12);
      background-color: $bg7-color;
      aspect-ratio: 243 / 281;
      min-inline-size: toRem(184);
      max-width: toRem(243);
      width: 100%;
      overflow: hidden;

      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      // .movie__img--big

      &--big {
         aspect-ratio: 318 / 404;
         max-width: toRem(318);
         min-inline-size: toRem(207);
      }
   }
}

.rating {
   display: flex;
   justify-content: space-between;
   column-gap: toRem(5);
   color: $secondary-color;
   font-weight: 500;
   @include adaptiveValue ("font-size", 16, 10);
   // font-size:clamp(0.625rem, 0.531rem + 0.47vw, 1rem);

   @media(max-width: toEm(1400)){
      font-size: toRem(10);
   }

   // .rating__time

   &__time {  
      align-self: center;
      border-radius: toRem(51);
      border: toRem(1) solid $bg4-color;
      padding: toRem(6) toRem(6) toRem(6) toRem(28);
      background: url('../img/time.png') 0.375rem no-repeat, $bg-color;
      @include adaptiveValue("background-size", 24, 18);
      // background: url('../img/time.png') 0.375rem / clamp(1.125rem, 0.639rem + 0.86vw, 1.5rem) no-repeat, #141414;
   }

   // .rating__watch

   &__watch {
      align-self: center;
      border-radius: toRem(51);
      border: toRem(1) solid $bg4-color;
      padding: toRem(6) toRem(6) toRem(6) toRem(28);
      background: url('../img/eye.png') 0.375rem no-repeat, $bg-color;
      @include adaptiveValue("background-size", 24, 18);
      // background: url('../img/eye.png') 0.375rem / clamp(1.125rem, 0.639rem + 0.86vw, 1.5rem) no-repeat, #141414;
   }

   // .rating__stars

   &__stars {
      display: flex;
      gap: toRem(1);
      border-radius: toRem(51);
      border: toRem(1) solid $bg4-color;
      background: $bg-color;
      align-items: center;
      @include adaptiveValue("padding-block", 6, 2); 
      @include adaptiveValue("padding-inline", 10, 8);  
      // padding: clamp(0.125rem, 0.062rem + 0.31vw, 0.375rem)
      //  clamp(0.5rem, 0.469rem + 0.16vw, 0.625rem);
   }

   // .rating__star

   &__star {
      aspect-ratio: 1;
      max-width: toRem(18);

      & img {
         width: 100%;
         object-fit: contain;
      }

      @media(max-width: toEm(1200)){
         width: toRem(12);
      }
   }
}

.relise {
   border-radius: toRem(51);
   border: toRem(1) solid $bg4-color;
   background:  $bg-color;
   padding: toRem(6);

   // .relise__date

   &__date {
      text-align: center;
      color: $secondary-color;
      font-size: 1rem;
      font-weight: 500;

      & time {
         color:  $bg7-color;
      }
      
      @media(max-width: toEm(1450)){
         font-size: toRem(12);
      }

      @media(max-width: toEm(1200)){
         font-size: toRem(10);
      }
   }
}




