/* Підключення шрифтів */

/* Google Fonts  plugin*/
@import url("https://fonts.googleapis.com/css?family=Lobster:regular&display=swap");


/* Локальне підключення шрифтів */
/* @import url("fonts.css"); */

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: 'Lobster', serif;
   background-image: linear-gradient(0deg, rgba(221, 218, 126, 0.928) 27%, rgba(109, 245, 238, 0.83) 79%);
   background-attachment: fixed;
}
main {
   margin-bottom: 50px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

 h1 {
   font-size: 40px;
   font-weight: 800;
   color: rgb(29, 8, 104);
   text-align: center;
   margin-block: 40px;
   padding-block: 15px;
   border-block: 3px solid #c0860a;
   background-color: rgb(173, 229, 195);

 }
.content-container {
   max-width: 1250px;
   margin: 0 auto;
   font-size: 0;
   padding: 30px;
   background-color: rgb(173, 229, 195);
   border-radius: 15px;
   border: 3px solid #c0860a
}
.content img {
   vertical-align: middle;
}  
.content-container .content:not(:last-child) {
   margin-bottom: 20px;
}
.content p{
   display: inline-block;
   font-size: 20px;
   color: rgb(110, 94, 3);
   margin-left: 10px;
   vertical-align: middle;
}
.icon {
   background-color: #EF6D58;
   width: 112px;
   height: 112px;
   border-radius: 50%;
   padding: 32px;
   display: inline-block;

}
.facebook {
   width: 48px;
   height: 48px;
   background-color: #EF6D58;
   border-radius: 50%;
   padding: 16px 19.67px 16px 19px;
   display: inline-block;
}
.twitter {
   width: 48px;
   height: 48px;
   background-color: #EF6D58;
   border-radius: 50%;
   padding: 18px 16px 17px;
   display: inline-block;
}
.instagram {
   width: 48px;
   height: 48px;
   background-color: #EF6D58;
   border-radius: 50%;
   padding: 16px;
   display: inline-block;
}
.portfolio-photo {
   border-radius: 5px;
   max-width: 1170px;
}
.portfolio-video{
   max-width: 570px;
   border-radius: 5px;
}
.star {
   background: url("../img/icons/star.svg");
   width: 148px;
   height: 148px;
   background-repeat: no-repeat;
   display: inline-block;
}
.star img {
   padding: 58px;
}
.shadow {
   display: inline-block;
   max-width: 340px;
   box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}

/* footer */
.foot {
   text-align: center;
   color: rgb(110, 94, 3); 
   border-block: 3px solid #c0860a;
   background-color: rgb(173, 229, 195);
}
