/* Підключення шрифтів */

/* Google Fonts  plugin*/
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family:  'Work Sans', sans-serif;
	background-color:rgb(229, 250, 243);
}
 h1 {
   font-size: 24px;
   font-weight: 700;
   color: rgb(7, 7, 126);
   text-align: center;
   margin-bottom: 20px;
 }
.catalogue {
   background-color:rgb(118, 207, 178);  
   text-align: center;
   font-size: 0;
   margin-bottom: 20px;
}

.list {
   font-size: 20px;
   color: rgb(7, 7, 126);
   font-weight: 600;
   display:  inline-block;
   width: 33.333%; 
   margin:0;
   padding:0;
}
/* Bloc 1 */
.dark-theme {
   font-family: 'Manrope', sans-serif;
   font-size: 18px;
   background-color: #141414;
   padding-block: 150px;
   color:  #999;
   margin-bottom: 50px;
  
}
.darc-package {
   max-width: 1587px;
   margin: 0 auto;
   
}
.title-dark-theme {
   max-width: 1297px;
   margin-bottom: 80px;
}
.title-dark-theme-h {
   color: #FFF;
   font-size: 38px;
   font-weight: 700;
   line-height: 1.5; /* 150% */
   margin-bottom: 14px;
}

.dark-theme-blocs {
   margin-inline: -15px;
   font-size: 0;
}
.dark-theme-bloc {
   display: inline-block;
   width: 33.333%;
   padding-inline: 15px;
   margin-bottom: 30px;
   vertical-align: top;
}
.bloc-content {
   min-height: 285px;
   padding: 50px;
   border-radius: 12px;
   border: 1px solid var(--Black-15, #262626);
   background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;
}
.bloc-header {
   margin-bottom: 30px;
}
.bloc-img {
   margin-right: 16px;
   border-radius: 12px;
   border: 16px solid var(--Black-12, #1F1F1F);
   background:#1F1F1F;
   vertical-align: middle;
}



.bloc-header h3 {
   color: #FFF;
   display: inline-block;
   font-size: 24px;
   font-weight: 600;
   line-height: 1.5; /* 150% */
}
.bloc-content p {
   color:  #999;
   font-size: 18px;
   line-height: 1.5; /* 150p% */
}
/* Bloc 2 */

.landing-prod {
   font-family: 'Roboto', sans-serif;
   margin: 0 auto;
   max-width: 539px;
}
.landing-package {
   background-color:white;
   margin-bottom: 50px;
}
.landing-package h2 {
   color: #091133;
   font-size: 50px;
   font-weight: 500;
   line-height: 1.32; /* 132% */
   letter-spacing: 1px;
   margin-bottom: 20px;
}
.landing-package p{
   color: #505F98;
   font-size: 18px;
   line-height: 1.66; /* 166.667% */
   margin-bottom: 14px;
}
.landing-text {
   margin-bottom: 69px;
}
.landing-button {
   font-size: 0;
}
.landing-button a {
   color:  #FFF;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.62; /* 162.5% */
   background-color: #091133;
   margin-right: 30px;
   min-width: 189px;
   padding-block: 5px;
}
/* Bloc 3 */
.landing-deg {
   font-family: 'Roboto', sans-serif;
   margin: 0 auto;
   max-width: 520px;
   background-color:white;
   margin-bottom: 50px;
}
.text-bloc {
   margin-bottom: 70px;
}
.text-bloc h2 {
   color: #091133;
   font-size: 36px;
   font-weight: 500;
   line-height: 1.33; /* 133.333% */
   margin-bottom: 14px;
}
.landing-deg-text p{
   margin-bottom: 16px;
   color:  #6F7CB2;
   font-size: 16px;
   line-height: 1.62; /* 162.5% */
}
.info-card-container {
   max-width: 520px;
}
.info-card-blocs {
   margin-inline: -15px;
   font-size: 0;
}
.info-card-bloc {
   min-height: 138px;
   width: 50%;
   display: inline-block;
   margin-bottom: 30px;
   padding-inline: 15px;
   vertical-align: top;
}   
.info-card-content img{
   max-width: 36px;
   margin-bottom: 14px;
}
.info-card-content h3 {
   color:  #091133;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.62; /* 162.5% */
   margin-bottom: 6px;
}
.info-card-content p{
   color:  #5D6970;
   font-size: 12px;
   line-height: 1.5; /* 150% */
}



.foot {
   font-family:'Roboto', sans-serif;
   text-align: center;
   color: rgb(7, 7, 126);
   background-color:rgb(127, 228, 194);
   height: 20px;
   overflow: auto;
}
