/* Підключення шрифтів */
/*Google Fonts */

/* Скрін 1 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Work+Sans:wght@600&display=swap');

/* Скрін 2 */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap'); */

/* Скрін 3 */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap'); */

/* Google Fonts  plugin*/
/* Скрін 1 */
/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap"); */
/* Скрін 2 */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
/* Скрін 3 */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap"); */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Блок 1 */
.part-01 {
   font-family: 'Work Sans', sans-serif;
}
.professional-portfolio {
   color: #132238;
   font-size: 38px;
   font-weight: 600;
   line-height: 1.31; /* 131.579% */
}
.text-professional-portfolio {
   color:  #556070;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.33; /* 133.333% */
}

/* Блок 2 */
.part-02 {
   font-family: 'DM Sans', sans-serif;
}
.business-present {
   color: #1E1B39;
   font-size: 88px;
   font-weight: 700;
   line-height: 1.07; /* 107.955% */
}
.text-business-present {
   color: #474464;
   font-size: 24px;
   font-weight: 400;
   line-height: 1.75; /* 175% */
}

/* Блок 3 */
.part-03 {
   font-family: 'Roboto', sans-serif;
}
.introduce-product {
   color: #091133;
   font-size: 50px;
   font-weight: 500;
   line-height: 1.32; /* 132% */
}
.text-introduce-product {
   color: #505F98;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.66; /* 166.667% */
}

body {
   font-family: 'Georgia', serif;
}
.title {
   font-size: 36px;
   color: #1E1B39;
   font-weight: 600;
   line-height: 1.5;
   text-shadow: 2px 2px 2px rgb(119, 0, 255);
   text-transform:capitalize;
   text-align: center;
}

.list {
   font-size: 24px;
   color: #706203;
   font-weight: 400;
   line-height: 1.7;
   text-align: right;
}

/* Робота з текстом статті Блок 4 */
.part-04 {
   font-size: 18px;
   font-weight: 300;
   line-height: 1.2;
   color: darkslategray;
}
.title-article {
   font-family: 'Roboto', sans-serif;
   font-size: 28px;
   color: darkgreen;
   font-weight: 800;
   text-align: center;
}
h3 {
   font-family: 'DM Sans', sans-serif;
   font-size: 24px;
   color: rgb(94, 8, 82);
   text-shadow: 1px 2px 2px rgb(240, 83, 156);
   font-weight: 600;
}
.list-article {
   font-style: oblique;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.5;
   color: green;
   text-align: right;
}
.part-development {
   letter-spacing: 5px;
}
.list-development {
   color: #0a2be9;
   font-style: italic;
   font-size: 20px;
   text-decoration: underline;
	text-decoration-color: hsl(49, 100%, 50%);
	text-decoration-style: wavy;
}
.character{
   color: blue;
	text-decoration: overline;
	text-decoration-color: rgb(0, 238, 255);
	text-decoration-style: dotted;
}
.part-extraction {
   font-size: 12px;
   font-weight: 400;
   line-height: 1.7;
   word-spacing: 11px;
   white-space: nowrap;
}
.link {
   font-family: 'Work Sans', sans-serif;
   font-size: 20px;
   font-weight: 500;
   color: darkmagenta;
   text-decoration: underline;
   text-decoration-color: rgb(230, 177, 223);
	text-decoration-style: double;
}